.ProseMirror {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror > * {
  flex: 1;
}

.Block {
  position: relative;
  display: flex;
  align-items: flex-start;
  word-break: break-all;
  margin: 30px 0;
  outline: none !important;
}

.Block:focus-visible:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: #0775e3;
}

/**
@todo look at using  https://medium.com/trabe/using-bem-conventions-in-css-modules-leveraging-custom-webpack-loaders-fd985f72bcb2
 */
.Block--dragging {
  /* opacity: 0; */
  outline: none !important;
}

.Block__UI {
  user-select: none;
  flex: 0 1 auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.Block__UI select {
  padding: 5px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.Block__Handle {
  background-image: url("/drag-icon.png");
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: contain;
  cursor: pointer;
}

.Block__Content {
  flex: 1;
  height: 100%;
  max-width: 1200px;
  overflow-x: auto;
}
