.ProseMirror {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror > * {
  flex: 1;
}

.Block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0;
  word-break: break-word;
  white-space: pre-wrap;
  outline: none !important;
  position: relative;
}

/**
@todo look at using  https://medium.com/trabe/using-bem-conventions-in-css-modules-leveraging-custom-webpack-loaders-fd985f72bcb2
 */
.Block--dragging {
  /* opacity: 0; */
  outline: none !important;
}

.Block__UI {
  user-select: none;
  flex: 0 1 auto;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.Block__UI select {
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.Block__Handle {
  background-image: url("/drag-icon.png");
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: contain;
  cursor: pointer;
}

.Block__Content {
  flex: 1;
  height: 100%;
  max-width: 1200px;
  overflow-x: auto;
}

.Block__InsertBlock {
  top: 100%;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  height: 30px;
  margin-left: 32px;
}
