.PageSidebar {
  min-height: 100vh;
  background: #f9fafc;
  min-width: 260px;
  padding: 60px 40px;
}

.PageSidebar__Section {
  margin-bottom: 40px;
}

.PageSidebar__Section__Header {
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.AccountSelect {
  padding: 8px 15px;
  border: 1px solid lightgray;
  width: 120px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.SidebarList {
  div {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  a {
    font-weight: 300;
  }

  div {
    font-weight: 500;
    color: black;
    border-bottom: 3px solid transparent;
  }

  button {
    margin-top: 15px;
  }
}
