.PageSidebar {
  // min-height: 100vh;
  background: #f9fafc;
  padding: 60px 40px;
  // width: js-managed
}

.PageSidebar__Section {
  // margin-bottom: 40px;
}

.PageSidebar__Section__Header {
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.AccountSelect {
  padding: 8px 15px;
  border: 1px solid lightgray;
  width: 120px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.SidebarList {
  div {
    font-weight: 500;
    color: black;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  a {
    font-weight: 300;
  }

  button {
    margin-top: 15px;
  }
}
