# Libraries
/libs/antsi/ @hashintel/antsi
/libs/deer/ @hashintel/deer
/libs/error-stack/ @hashintel/error-stack
/libs/sarif/ @hashintel/sarif

# Legal
LICENSE @hashintel/legal
LICENSE.txt @hashintel/legal
LICENSE.md @hashintel/legal

# Database/migrations
/apps/hash-graph/postgres_migrations/ @hashintel/hash-database

# Apps
/apps/intellij-plugin/ @hashintel/intellij-plugin
