# Rust
*.rs @hashintel/rust
Cargo.toml @hashintel/rust
/libs/@local/hashql/ @hashintel/backend-rust
/libs/@local/harpc/ @hashintel/backend-rust

# Design system
/apps/hashdotdesign/ @hashintel/design-system
/libs/@hashintel/ds-*/ @hashintel/design-system

# Petrinaut
/apps/petrinaut*/ @hashintel/petrinaut
/libs/@hashintel/petrinaut*/ @hashintel/petrinaut
/libs/@local/petrinaut*/ @hashintel/petrinaut

# Core backend logic
/apps/hash-api/ @hashintel/backend-ts
/apps/hash-ai-worker-ts/ @hashintel/backend-ts
/apps/hash-integration-worker/ @hashintel/backend-ts
/apps/hash-graph/ @hashintel/backend-rust
/libs/@local/graph/ @hashintel/backend-rust
/libs/@local/graph/*/typescript/ @hashintel/backend-ts

# Database migrations
/libs/@local/graph/postgres-store/postgres_migrations/ @hashintel/backend-rust
/libs/@local/graph/migrations/graph-migrations/ @hashintel/backend-rust

# Code ownership
/.github/CODEOWNERS @hashintel/infra-admins

# Legal
LICENSE* @hashintel/legal

# Turborepo configuration
turbo.json @hashintel/infra
task-dependencies.json @hashintel/infra

# Environment variable files
.env @hashintel/infra
.env.* @hashintel/infra
