**/docs/dependency-diagram.mmd linguist-generated=true
**/docs/task-dependencies.json linguist-generated=true
**/*.snap linguist-generated=true
**/*.snap.* linguist-generated=true
apps/petrinaut-opt/openapi/openapi.json linguist-generated=true
libs/@hashintel/petrinaut-core/docs/architecture/*.d2 linguist-generated=true
libs/@hashintel/petrinaut-core/docs/architecture/*.svg linguist-generated=true
libs/@local/graph/api/openapi/** linguist-generated=true
