cargo-features = ["edition2024"]

[workspace]
members = [
    "apps/hash-graph/bench",
    "apps/hash-graph/bins/cli",
    "apps/hash-graph/libs/*",
    "libs/@blockprotocol/type-system/rust",
    "libs/@local/codec",
    "libs/@local/tracing",
    "libs/@local/status/rust",
    "libs/@local/hash-authorization",
    "libs/@local/hash-graph-types/rust",
    "libs/@local/hash-validation",
    "libs/@local/temporal-client",
    "libs/@local/temporal-versioning",
    "tests/hash-graph-integration",
    "tests/hash-graph-test-data/rust",
    "libs/@local/harpc",
    "libs/@local/harpc/crates/*"
]
exclude = [
    "libs/antsi",
    "libs/deer",
    "libs/error-stack",
    "libs/sarif",
]
default-members = [
    "apps/hash-graph/bins/*",
]
resolver = "2"

[workspace.package]
authors = ["HASH"]
edition = "2024"


[workspace.dependencies]
# Workspace members
authorization.path = "libs/@local/hash-authorization"
codec.path = "libs/@local/codec"
graph-test-data.path = "tests/hash-graph-test-data/rust"
graph-types.path = "libs/@local/hash-graph-types/rust"
hash-status.path = "libs/@local/status/rust"
temporal-client.path = "libs/@local/temporal-client"
temporal-versioning.path = "libs/@local/temporal-versioning"
type-fetcher.path = "apps/hash-graph/libs/type-fetcher"
graph.path = "apps/hash-graph/libs/graph"
graph-api.path = "apps/hash-graph/libs/api"
validation.path = "libs/@local/hash-validation"
hash-tracing.path = "libs/@local/tracing"
type-system.path = "libs/@blockprotocol/type-system/rust"

# External dependencies owned by HASH
error-stack = { version = "0.4.1", default-features = false }

# Shared third-party dependencies
bytes = "1.6.0"
clap = { version = "4.5.3", default-features = false, features = ["std"] }
email_address = { version = "0.2.4", default-features = false }
futures = { version = "0.3.30", default-features = false }
postgres-types = { version = "0.2.6", default-features = false }
serde = { version = "1.0.197", default-features = false }
serde_json = "1.0.114"
time = { version = "0.3.34", default-features = false }
tokio = { version = "1.36.0", default-features = false }
tokio-util = { version = "0.7.10", default-features = false }
tracing = "0.1.40"
utoipa = "4.2.0"
url = { version = "2.5.0", default-features = false }
uuid = { version = "1.8.0", default-features = false }

[profile.production]
inherits = "release"
lto = "fat"
strip = "none"
