$colorGray: #91a5ba;
$colorGrayLight: #c1cfde;
$colorGrayLighter: #dde7f0;

.wrapper {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: black;
  background: none;
  padding-left: 10px;

  &.empty {
    color: $colorGray;
  }

  &.titleInput {
    border: 1px solid $colorGrayLighter;
    border-radius: 6px;
    outline: none;

    &::placeholder {
      color: $colorGray;
      opacity: 1;
    }
  }
}

.iconButton {
  color: $colorGrayLight;

  &:hover {
    color: black;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .edit {
    display: none;
  }

  .wrapper {
    &:hover {
      .edit {
        display: block;
      }
    }
  }
}
