* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.drawing-canvas-container {
    width: 100%;
    height: 800px;
    position: relative;
}

#TD-MenuItem-File-Export-PNG,
#TD-MenuItem-File-Export-JPG,
#TD-MenuItem-File-Export-WEBP {
    display: none;
}

#TD-MenuItem-Edit + div[role="separator"] { 
    display: none
}

#TD-MenuItem-Preferences ~ * {
    display: none,
}