.rowActions {
  position: absolute;
  background: white;
  height: 40px;
  border-radius: 6px;
  left: 32px;
  overflow: hidden;

  z-index: 100;
  box-shadow:
    0px 0px 1px rgba(62, 65, 86, 0.7),
    0px 6px 12px rgba(62, 65, 86, 0.35);

  display: flex;
  align-items: center;
  padding-left: 8px;
  gap: 8px;

  font-size: 13px;
  font-family: var(--font-family);
}
