interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/property-type/e-mail/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/property-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/property-type/e-mail/v/1\",\n
      \ \"kind\": \"propertyType\",\n  \"title\": \"E-Mail\",\n  \"description\":
      \"An e-mail address.\",\n  \"oneOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\"\n
      \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::njvgs-1696423621204-c7f1b2b88e2a
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/property-type/e-mail/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/property-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/property-type/e-mail/v/1\",\n
      \ \"kind\": \"propertyType\",\n  \"title\": \"E-Mail\",\n  \"description\":
      \"An e-mail address.\",\n  \"oneOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\"\n
      \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::7hf46-1696423621528-3451e52274df
    status_code: 200
version: 1
