$grayFilter: invert(90%) sepia(11%) saturate(377%) hue-rotate(175deg)
  brightness(90%) contrast(92%);

$fontFamily: Inter, Helvetica, Arial, sans-serif;

.settingsButton {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../../../public/gear.svg");
  background-size: 100% 100%;
  cursor: pointer;

  filter: $grayFilter;
  transition: 250ms ease-in-out;

  &:hover {
    filter: none;
  }
}

.popover {
  font-size: 13px;

  border-radius: 6px;
  box-shadow: 0px 0px 1px rgba(62, 65, 86, 0.7),
    0px 6px 12px rgba(62, 65, 86, 0.35);

  width: 300;

  background: white;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    margin-bottom: 8px;
    font-weight: 700;
  }

  .option {
    display: flex;
    gap: 8px;

    input {
    }

    label {
      flex: 1;
    }
  }
}
