services:
  type-fetcher:
    init: true
    image: hash-graph
    read_only: true
    security_opt:
      - no-new-privileges:true
    volumes:
      - logs:/logs
    command: type-fetcher
    ports:
      - "${HASH_GRAPH_TYPE_FETCHER_PORT}:4444"
    environment:
      HASH_GRAPH_LOG_FORMAT: "${HASH_GRAPH_LOG_FORMAT:-full}"
      HASH_GRAPH_LOG_FOLDER: "/logs/graph-type-fetcher"
      HASH_GRAPH_TYPE_FETCHER_HOST: "0.0.0.0"
      HASH_GRAPH_TYPE_FETCHER_PORT: "${HASH_GRAPH_TYPE_FETCHER_PORT}"
      HASH_GRAPH_SENTRY_DSN: "${HASH_TYPE_FETCHER_SENTRY_DSN-}"
      HASH_GRAPH_LOG_LEVEL: "${HASH_GRAPH_LOG_LEVEL}"
      RUST_BACKTRACE: 1
    healthcheck:
      test: ["CMD", "/hash-graph", "type-fetcher", "--healthcheck"]
      interval: 2s
      timeout: 2s
      retries: 10

  graph:
    command: server
    depends_on:
      type-fetcher:
        condition: service_healthy
    environment:
      HASH_GRAPH_TYPE_FETCHER_HOST: "type-fetcher"
      HASH_GRAPH_TYPE_FETCHER_PORT: "${HASH_GRAPH_TYPE_FETCHER_PORT}"
