Hi,

Please continue with the recovery of your HASH account by entering the following code:

{{ .RecoveryCode }}

You should enter this code in HASH directly. Do not share this code with anybody else. 

If you did not request this code, please contact <a href="mailto:support@hash.ai">support@hash.ai</a>

HASH
