interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/data-type/number/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/data-type\",\n
      \ \"kind\": \"dataType\",\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/data-type/number/v/1\",\n
      \ \"title\": \"Number\",\n  \"description\": \"An arithmetical value (in the
      Real number system)\",\n  \"type\": \"number\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::p2wr6-1696423620322-27e2f963e6bc
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/data-type/number/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/data-type\",\n
      \ \"kind\": \"dataType\",\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/data-type/number/v/1\",\n
      \ \"title\": \"Number\",\n  \"description\": \"An arithmetical value (in the
      Real number system)\",\n  \"type\": \"number\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::q4fpb-1696423620432-f12e4ac577c6
    status_code: 200
version: 1
