Hi,

You (or someone else) entered this email address while trying to recover access to a HASH account.

Please click the link below to recover access to your HASH account:

<a href="{{ .RecoveryURL }}">{{ .RecoveryURL }}</a>

If you did not request this link, please contact <a href="mailto:support@hash.ai">support@hash.ai</a>

HASH
