$fontFamily: Inter, Helvetica, Arial, sans-serif;
$grayFilter: invert(90%) sepia(11%) saturate(377%) hue-rotate(175deg)
  brightness(90%) contrast(92%);

$colorGray: #91a5ba;
$colorGrayLight: #dde7f0;

.wrapper {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
}

.title {
  font-family: $fontFamily;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: black;
  background: none;
  padding-left: 10px;

  &.empty {
    color: $colorGray;
  }

  &.titleInput {
    border: 1px solid $colorGrayLight;
    border-radius: 6px;
    outline: none;

    &::placeholder {
      color: $colorGray;
      opacity: 1;
    }
  }
}

.iconButton {
  width: 20px;
  height: 20px;
  filter: $grayFilter;
  background-size: 100% 100%;

  &:hover {
    filter: none;
  }

  &.edit {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M373.1 24.97C401.2-3.147 446.8-3.147 474.9 24.97L487 37.09C515.1 65.21 515.1 110.8 487 138.9L289.8 336.2C281.1 344.8 270.4 351.1 258.6 354.5L158.6 383.1C150.2 385.5 141.2 383.1 135 376.1C128.9 370.8 126.5 361.8 128.9 353.4L157.5 253.4C160.9 241.6 167.2 230.9 175.8 222.2L373.1 24.97zM440.1 58.91C431.6 49.54 416.4 49.54 407 58.91L377.9 88L424 134.1L453.1 104.1C462.5 95.6 462.5 80.4 453.1 71.03L440.1 58.91zM203.7 266.6L186.9 325.1L245.4 308.3C249.4 307.2 252.9 305.1 255.8 302.2L390.1 168L344 121.9L209.8 256.2C206.9 259.1 204.8 262.6 203.7 266.6zM200 64C213.3 64 224 74.75 224 88C224 101.3 213.3 112 200 112H88C65.91 112 48 129.9 48 152V424C48 446.1 65.91 464 88 464H360C382.1 464 400 446.1 400 424V312C400 298.7 410.7 288 424 288C437.3 288 448 298.7 448 312V424C448 472.6 408.6 512 360 512H88C39.4 512 0 472.6 0 424V152C0 103.4 39.4 64 88 64H200z"/></svg>');
  }
  &.cancel {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"/></svg>');
  }
  &.save {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M440.1 103C450.3 112.4 450.3 127.6 440.1 136.1L176.1 400.1C167.6 410.3 152.4 410.3 143 400.1L7.029 264.1C-2.343 255.6-2.343 240.4 7.029 231C16.4 221.7 31.6 221.7 40.97 231L160 350.1L407 103C416.4 93.66 431.6 93.66 440.1 103V103z"/></svg>');
  }
}

@media screen and (min-width: 768px) {
  .edit {
    display: none;
  }

  .wrapper {
    &:hover {
      .edit {
        display: block;
      }
    }
  }
}
