.wrapper {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
  font-size: 21px;

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: black;
    background: none;
    padding-left: 10px;

    &.empty {
      color: #91a5ba;
    }

    &.titleInput {
      border: 1px solid #dde7f0;
      border-radius: 6px;
      outline: none;

      &::placeholder {
        color: #91a5ba;
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .edit {
    display: none;
  }

  .wrapper {
    &:hover {
      .edit {
        display: block;
      }
    }
  }
}
