interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1
  response:
    content: "{\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1\",\n
      \ \"description\": \"A word or set of words by which something is known, addressed,
      or referred to.\",\n  \"oneOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\"\n
      \   }\n  ],\n  \"kind\": \"propertyType\",\n  \"title\": \"Name\",\n  \"$schema\":
      \"https://blockprotocol.org/types/modules/graph/0.3/schema/property-type\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::9srm4-1696423620552-76c8944a6a8c
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1
  response:
    content: "{\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1\",\n
      \ \"description\": \"A word or set of words by which something is known, addressed,
      or referred to.\",\n  \"oneOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\"\n
      \   }\n  ],\n  \"kind\": \"propertyType\",\n  \"title\": \"Name\",\n  \"$schema\":
      \"https://blockprotocol.org/types/modules/graph/0.3/schema/property-type\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::lvh5f-1696423620882-afbd64c36ea4
    status_code: 200
version: 1
