[package]
name = "hash-graph"
version = "0.0.0"
edition = "2021"
authors = ["HASH"]
publish = false
description = "The entity-graph query-layer for the HASH datastore"


[dependencies]
graph = { workspace = true, features = ["clap"] }
graph-api = { workspace = true }
graph-types = { workspace = true }
validation = { workspace = true }
type-fetcher = { workspace = true }
temporal-client = { workspace = true }
authorization = { workspace = true }
codec = { workspace = true }
hash-tracing = { workspace = true, features = ["clap"] }

error-stack = { workspace = true }
type-system = { workspace = true }

axum = "0.7.4"
clap = { workspace = true, features = ["cargo", "derive", "env", "wrap_help"] }
clap_complete = "4.4.8"
mimalloc = { version = "0.1.39", default-features = false }
futures = { version = "0.3.30" }
regex = "1.10.2"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
semver = { version = "1.0.21", default-features = false }
serde_json = "1.0.111"
tarpc = { version = "0.33", features = ["serde1", "tokio1", "serde-transport", "tcp"] }
time = "0.3.31"
tokio = { workspace = true }
tokio-postgres = { version = "0.7.10", default-features = false }
tokio-serde = { version = "0.8", features = ["json"] }
tokio-util = { workspace = true, features = ["codec"] }
tracing = { workspace = true }
uuid = "1.7.0"

[features]
test-server = ["graph-api/test-server"]

[lints.rust]
unreachable-pub = "allow"
