cargo-features = ["edition2024"]

[package]
name = "hash-graph"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
authors.workspace = true
description = "The entity-graph query-layer for the HASH datastore"


[dependencies]
# Workspace dependencies
authorization = { workspace = true }
codec = { workspace = true }
error-stack = { workspace = true }
graph = { workspace = true, features = ["clap"] }
graph-api = { workspace = true }
graph-types = { workspace = true }
hash-tracing = { workspace = true, features = ["clap"] }
temporal-client = { workspace = true }
test-server = { workspace = true, optional = true }
type-fetcher = { workspace = true }
type-system = { workspace = true }
validation = { workspace = true }

# Third party dependencies
axum = "0.7.5"
clap = { workspace = true, features = ["cargo", "derive", "env", "wrap_help"] }
clap_complete = "4.5.8"
futures = { workspace = true }
mimalloc = { version = "0.1.43", default-features = false }
regex = "1.10.5"
reqwest = { version = "0.12.5", default-features = false, features = ["rustls-tls"] }
semver = { version = "1.0.23", default-features = false }
serde_json = { workspace = true }
tarpc = { version = "0.33", features = ["serde1", "tokio1", "serde-transport", "tcp"] }
time = "0.3.36"
tokio = { workspace = true }
tokio-postgres = { workspace = true }
tokio-serde = { version = "0.8.0", features = ["json"] }
tokio-util = { workspace = true, features = ["codec"] }
tracing = { workspace = true }
uuid = { workspace = true }

[features]
test-server = ["dep:test-server"]

[lints]
workspace = true
