interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Founded By\",\n  \"type\": \"object\",\n
      \ \"allOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/entity-type/link/v/1\"\n
      \   }\n  ],\n  \"description\": \"Established, initiated, or created by this
      entity.\",\n  \"examples\": [],\n  \"links\": {},\n  \"properties\": {},\n  \"required\":
      []\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::qkhv7-1696423622964-1c8dde59975d
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Founded By\",\n  \"type\": \"object\",\n
      \ \"allOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/entity-type/link/v/1\"\n
      \   }\n  ],\n  \"description\": \"Established, initiated, or created by this
      entity.\",\n  \"examples\": [],\n  \"links\": {},\n  \"properties\": {},\n  \"required\":
      []\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::p9mxh-1696423623212-7c3e62f99de4
    status_code: 200
version: 1
