Hi,

Please verify your HASH account access by entering the following code:

{{ .VerificationCode }}

Alternatively, you can click the link below, or copy and paste it into your web browser:

{{ .VerificationURL }}

This link is valid for 48 hours. If you were not expecting this email, please ignore it.

HASH
