extend = { path = "../../.github/scripts/rust/Makefile.toml" }

[env]
CARGO_CLIPPY_HACK_FLAGS = "--workspace --feature-powerset --optional-deps clap"

CARGO_TEST_HACK_FLAGS = "--workspace --feature-powerset --optional-deps clap"

CARGO_RUSTDOC_HACK_FLAGS = "--workspace --exclude hash_graph_benches"

RUST_LOG = "debug,hyper=warn"

[env.production]
CARGO_MAKE_CARGO_PROFILE = "production"

[tasks.cargo]
env_files = ["${REPO_ROOT}/.env"]
env = { HASH_GRAPH_PG_DATABASE = "${HASH_GRAPH_PG_DEV_DATABASE}" }


## Deployment
##
[tasks.deployment-up]
run_task = { name = ["docker-compose-deployment-up", "migrate-db"] }

[tasks.docker-compose-deployment-up]
private = false
category = "Deploy"
description = "Spins up the deployment environment"
extend = "yarn"
args = ["external-services", "up", "postgres", "--wait"]
cwd = "${REPO_ROOT}"

[tasks.migrate-db]
extend = "cargo"
private = false
category = "Deploy"
description = "Run DB migrations using the Graph binary"
args = ["run", "--", "migrate"]

[tasks.migrate-db.env]
HASH_GRAPH_PG_USER = "${POSTGRES_USER}"
HASH_GRAPH_PG_PASSWORD = "${POSTGRES_PASSWORD}"
HASH_GRAPH_PG_DATABASE = "${HASH_GRAPH_PG_DEV_DATABASE}"

[tasks.deployment-down]
private = false
category = "Deploy"
description = "Tears down the deployment environment"
extend = "yarn"
args = ["external-services", "down"]
cwd = "${REPO_ROOT}"

[tasks.build-docker]
category = "Deploy"
description = "Builds the Graph API's Docker container"
extend = "yarn"
args = ["external-services", "build", "graph", "${@}"]
cwd = "${REPO_ROOT}"
env = { DOCKER_BUILDKIT = 1 }

[tasks.graph-up]
category = "Deploy"
description = "Spins up the Graph API as external service"
extend = "yarn"
args = ["external-services", "up", "--wait", "graph", "${@}"]
cwd = "${REPO_ROOT}"

[tasks.graph-down]
category = "Deploy"
description = "Tears down up the Graph API"
extend = "yarn"
args = ["external-services", "down"]
cwd = "${REPO_ROOT}"

[tasks.test-docker]
run_task = { name = ["yarn-install-openapi", "graph-up", "test-rest-api", "graph-down"] }

[tasks.test-rest-api]
# This is a temporary solution until we have e2e tests in place
extend = "yarn"
args = ["httpyac", "send", "--all", "${REPO_ROOT}/apps/hash-graph/hash_graph/tests/rest-test.http", "${@}"]


[tasks.yarn-install-openapi]
description = "Installs the required yarn dependencies for generating the API client"
extend = "yarn"
cwd = "${REPO_ROOT}/apps/hash-graph/clients"

[tasks.test]
run_task = [
    { name = ["test-task", "yarn-install-openapi", "deployment-up", "test-integration", "generate-openapi-client", "deployment-down"], condition = { env_true = ["CARGO_MAKE_CI"] } },
    { name = ["test-task"] }
]

[tasks.test-task-doc]
condition = { profiles = ["development"] }

[tasks.test-integration]
private = false
extend = "cargo"
args = ["nextest", "run", "--cargo-profile", "${CARGO_MAKE_CARGO_PROFILE}", "@@split(CARGO_TEST_FLAGS, )", "--workspace", "--test", "integration", "--profile", "integration", "${@}"]
dependencies = ["install-cargo-nextest"]

[tasks.miri]
clear = true
command = "echo"
args = ["Miri is disabled as unsafe code is forbidden"]

[tasks.coverage]
run_task = [
    { name = ["deployment-up", "coverage-task", "coverage-integration", "deployment-down", "coverage-report"], condition = { env_true = ["CARGO_MAKE_CI"] } },
    { name = ["coverage-task", "coverage-integration", "coverage-report"] },
]

[tasks.coverage-task]
args = ["llvm-cov", "--no-report", "test", "--workspace", "--all-features", "--all-targets"]

[tasks.coverage-integration]
extend = "coverage-task"
args = ["llvm-cov", "--no-report", "nextest", "--workspace", "--all-features", "--test", "integration"]

[tasks.coverage-report]
extend = "coverage-task"
args = ["llvm-cov", "report", "${@}"]

# If this step fails, the OpenAPI spec is invalid.
# When running in CI, a non-empty git diff will fail the pipeline.
[tasks.generate-openapi-client]
env_files = ["${REPO_ROOT}/.env"]
env = { HASH_GRAPH_PG_DATABASE = "${HASH_GRAPH_PG_DEV_DATABASE}" }
script = """
#!/usr/bin/env bash

# Fail entire script if any error occurs.
set -eo pipefail

cargo build
cargo run -- server &
pid=$!
# Ensure the webserver process is killed regardless of script outcome.
trap "kill $pid" 0 ERR

yarn workspace @hashintel/hash-graph-client-generator generate

# This switches the current working directory to the location of the generated client.
# `.` thus refers to the root of the client directory.
yarn workspace @hashintel/hash-graph-client prettier --write .
# The generator isn't idempotent, unfortunately. The interface members are not in a strict order.
# ESlint enforces ordering, which enables us to rely on the output diff as a CI check.
yarn workspace @hashintel/hash-graph-client fix:eslint
"""
