[package]
name = "prime"
version = "0.0.0"
edition = "2018"

[dependencies]
argh = "0.1.4"
arr_macro = "0.1.3"
arrayref = "0.3.6"
arrow = {version = "1.0.1", default-features = false }
async-trait = "0.1.48"
bimap = "0.6.0"
bytes = "1.0.1"
csv = "1.1.5"
derivative = "2.2.0"
derive-new = "0.5"
enum_dispatch = "0.3.7"
flatbuffers = "2.0.0"
# Need this for our arrow semi-vendor
flatbuffers-arrow = { package = "flatbuffers", version = "0.6.1" }
float-cmp = "0.8.0"
fs2 = "0.4.3"
futures = {version = "0.3.6", features = ["std"]}
glob = "0.3.0"
futures-retry = "0.6.0"
hashbrown = "0.9.1"
http = "0.2.4"
http-types = "2.6.0"
kdtree = "0.6.0"
lazy_static = "1.4.0"
log = "0.4.11"
nix = "0.19.0"
nng = "1.0.0"
num_cpus = "1.13.0"
parking_lot = "0.11.1"
pretty_env_logger = "0.4.0"
quick-error = "1.2.3"
rand = "0.8.3"
rand_distr = "0.4.2"
rayon = "1.4.1"
regex = "1.5.4"
rusoto_core = "0.46.0"
rusoto_s3 = "0.46.0"
serde_json = "1.0.59"
shared_memory = { git = "https://github.com/hashdeps/shared_memory-rs" }
serde-aux = "0.6.1"
strum = "0.19.5"
strum_macros = "0.19.4"
surf = "2.0.0"
thiserror = "1.0.21"
tokio = { version = "1.5.0", features = ["macros", "rt-multi-thread", "sync", "process", "io-util", "net", "rt", "fs"] }
tokio-stream = "0.1.5"
tokio-util = { version = "0.6.6", features = ["codec"]}
uuid = { version = "0.8.1", features = ["v4", "serde"] }
wait-timeout = "0.2.0"

[dependencies.chrono]
features = ["serde"]
version = "0.4.11"

[dependencies.serde]
features = ["derive"]
version = "1.0.111"

# TODO rename hash_prime and prime
[lib]
crate-type = ["lib", "cdylib"]
name = "hash_prime"
path = "src/lib.rs"

[[bin]]
name = "cli"
path = "src/cli/main.rs"

[build-dependencies.cc]
version = "1.0"
