extend = { path = "../../.github/scripts/rust/Makefile.toml" }

[env]
CARGO_CLIPPY_HACK_FLAGS= "--workspace --feature-powerset --features build-nng --exclude-features default --ignore-unknown-features --optional-deps clap"
CARGO_TEST_HACK_FLAGS= "--workspace --feature-powerset --features build-nng --exclude-features default --ignore-unknown-features --optional-deps clap"
CARGO_MIRI_HACK_FLAGS= "--workspace --feature-powerset --features build-nng --exclude-features default --ignore-unknown-features --optional-deps clap"

# The `test` task will execute these task in the folloing order:
#  1. Run unit tests
#  2. Build the test dependencies (CI only)
#  3. Setup python (CI only)
#  4. Run the integration tests

[tasks.test]
run_task = { name = ["test-task", "run-integrations"] }

[tasks.build-test-deps]
condition = { env_true = ["CARGO_MAKE_CI"] }
private = true
extend = "build-task"
args = ["build", "-p", "memory", "--profile", "${CARGO_MAKE_CARGO_PROFILE}"]

[tasks.setup-python]
condition = { env_true = ["CARGO_MAKE_CI"] }
private = true
command = "bash"
args = ["lib/execution/src/runner/python/setup.sh", "python3.7"]
dependencies = ["build-test-deps"]

[tasks.run-integrations]
private = true
command = "cargo"
args = ["test", "--workspace", "--test", "integration", "--no-fail-fast", "--profile", "${CARGO_MAKE_CARGO_PROFILE}", "--all-features"]
dependencies = ["setup-python"]
