interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/data-type\",\n
      \ \"kind\": \"dataType\",\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\",\n
      \ \"title\": \"Text\",\n  \"description\": \"An ordered sequence of characters\",\n
      \ \"type\": \"string\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::bcdd9-1696423619973-ec61673fc9c6
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/data-type\",\n
      \ \"kind\": \"dataType\",\n  \"$id\": \"https://blockprotocol.org/@blockprotocol/types/data-type/text/v/1\",\n
      \ \"title\": \"Text\",\n  \"description\": \"An ordered sequence of characters\",\n
      \ \"type\": \"string\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::7hf46-1696423620136-ad10af29a150
    status_code: 200
version: 1
