@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

$dialSize: 420px;

.timer-block {
  margin: 0;
  padding: 0;
  width: $dialSize;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-align: center;

  button {
    background: #fff;
    cursor: pointer;
    color: rgb(36, 117, 238);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(36, 117, 238, 0.3);

    &:hover,
    &:focus-visible {
      border: 2px solid rgb(36, 117, 238);
      outline: none;
    }
    &:active {
      transform: translateY(1px);
    }
  }

  .dial {
    margin: 0 auto;
    width: $dialSize;
    height: $dialSize;
    position: relative;
  }

  .dial-ring {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    border-image-slice: 1;
    background: conic-gradient(
      from 0deg at 50% 50%,
      #116df6 0deg,
      rgba(17, 109, 246, 0.12) 360deg
    );

    -webkit-mask-image: radial-gradient(transparent 0 186px, #000 186.5px);
    mask-image: radial-gradient(transparent 0 186px, #000 186.5px);
  }

  .dial-ring-completion {
    background: #ebf2f7;
    transform: rotate(-45deg);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    animation-name: timer-block-loading;
    animation-duration: 100s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
    animation-play-state: paused;
    animation-direction: reverse;
    animation-delay: 100s;
  }

  .countdown {
    font-size: 72px;
    position: relative;
    width: 80%;
    top: 112px;
    border: none;
    color: #37434f;
    background: transparent;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    text-align: center;
    height: 72px;
    width: $dialSize / 1.9;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid transparent;

    // &:hover {
    //   border: 1px solid #dde7f0;
    // }
  }

  .play-button,
  .pause-button {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid rgb(36, 117, 238, 0.3);
    position: relative;
    top: 130px;

    &:hover {
      border: 2px solid rgb(36, 117, 238);
    }
  }

  .play-button {
    background-image: linear-gradient(180deg, #2d7ff9 0%, #1a6de8 100%);
    border: 2px solid rgb(36, 117, 238);

    &:hover {
      background-image: linear-gradient(180deg, #479cff 0%, #2075f2 100%);
    }
  }

  .play-button-icon,
  .pause-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .play-button-icon {
    background-image: url('data:image/svg+xml;utf8,<svg width="45" height="55" viewBox="0 0 45 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 50.8907V4.3593C0.5 1.1879 4.01429 -0.722217 6.67558 1.00269L42.5712 24.2684C45.0038 25.845 45.0038 29.405 42.5712 30.9816L6.67558 54.2473C4.01429 55.9722 0.5 54.0621 0.5 50.8907Z" fill="white"/></svg>');
    background-position-x: 55%;
  }

  .pause-button-icon {
    background-image: url('data:image/svg+xml;utf8,<svg width="51" height="56" viewBox="0 0 51 56" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" width="20" height="56" rx="4" fill="rgb(41, 124, 247)"/><rect x="30.5" width="20" height="56" rx="4" fill="rgb(41, 124, 247)"/></svg>');
  }

  .button-row {
    margin-top: 24px;
  }

  .less-time-button,
  .reset-button,
  .more-time-button {
    border-radius: 50%;
    margin: 8px;
    width: 64px;
    height: 64px;

    &:disabled {
      opacity: 0.3;
      border-color: rgb(36, 117, 238);
      cursor: default;

      &:active {
        transform: none;
      }
    }
  }

  .less-time-button {
    background-image: url('data:image/svg+xml;utf8,<svg width="22" height="3" viewBox="0 0 22 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.6004 1.80039C21.6004 2.50039 21.0504 3.00039 20.4004 3.00039H2.00039C1.30039 3.00039 0.800391 2.50039 0.800391 1.85039C0.800391 1.15039 1.30039 0.60039 2.00039 0.60039H20.4004C21.0504 0.60039 21.6004 1.15039 21.6004 1.80039Z" fill="rgb(36, 117, 238)"/></svg>');
  }
  .reset-button {
    background-image: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.9002 14.4504C22.2502 14.2504 21.6002 14.6004 21.4002 15.2504C20.3502 19.0004 16.8502 21.6004 12.9502 21.6004C9.6002 21.6004 6.6002 19.7004 5.1002 16.8004H10.1502C10.8002 16.8004 11.3502 16.3004 11.3502 15.6004C11.3502 14.9504 10.8502 14.4004 10.1502 14.4004H2.1502C1.5002 14.4004 0.950195 14.9504 0.950195 15.6004V23.6004C0.950195 24.3004 1.5002 24.8004 2.1502 24.8004C2.8502 24.8004 3.3502 24.3004 3.3502 23.6004V18.5004C5.3502 21.8504 9.0002 24.0004 12.9502 24.0004C17.9002 24.0004 22.3002 20.7004 23.7002 15.9504C23.9002 15.3004 23.5502 14.6504 22.9002 14.4504ZM23.8002 0.80039C23.1002 0.80039 22.6002 1.35039 22.6002 2.00039V7.15039C20.6002 3.80039 16.9502 1.60039 13.0002 1.60039C8.0502 1.60039 3.6002 4.95039 2.2002 9.70039C2.0502 10.3004 2.4002 11.0004 3.0502 11.1504C3.7002 11.3504 4.3502 11.0004 4.5002 10.3504C5.6002 6.65039 9.1002 4.00039 13.0002 4.00039C16.3002 4.00039 19.3002 5.95039 20.8002 8.80039H15.8002C15.1002 8.80039 14.6002 9.35039 14.6002 10.0004C14.6002 10.7004 15.1002 11.2004 15.8002 11.2004H23.8002C24.4502 11.2004 25.0002 10.7004 25.0002 10.0004V2.00039C25.0002 1.35039 24.4502 0.80039 23.8002 0.80039Z" fill="rgb(36, 117, 238)"/></svg>');
  }
  .more-time-button {
    background-image: url('data:image/svg+xml;utf8,<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.1879 12.7499C25.1879 13.5702 24.5433 14.1561 23.7816 14.1561H14.4065V23.5312C14.4065 24.3516 13.7619 24.9961 13.0002 24.9961C12.1799 24.9961 11.5939 24.3516 11.5939 23.5312V14.1561H2.21881C1.39848 14.1561 0.812537 13.5702 0.812537 12.8084C0.812537 11.9881 1.39848 11.3436 2.21881 11.3436H11.5939V1.96846C11.5939 1.20673 12.1799 0.620789 13.0002 0.620789C13.7619 0.620789 14.4065 1.20673 14.4065 1.96846V11.3436H23.7816C24.5433 11.3436 25.1879 11.9881 25.1879 12.7499Z" fill="rgb(36, 117, 238)"/></svg>');
  }
}

// Inspired by https://codepen.io/pfndesign/details/eYpONdx
@keyframes timer-block-loading {
  0% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      50% 50%,
      100% 0%,
      100% 100%
    );
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 0%, 100% 100%);
  }
  25% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      50% 50%,
      100% 100%,
      100% 100%
    );
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      50% 50%,
      0% 100%,
      0% 100%
    );
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 100%, 0% 100%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      50% 50%,
      100% 0%,
      0% 0%
    );
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 0%, 0% 0%);
  }
}
