// @todo remove these styles when main components are converted to mui
main {
  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
}
