html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  padding-bottom: 3px;
  color: initial;
  font-weight: 400;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $bright-blue;
  }

  &:visited {
    color: initial;
  }
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.button {
  background: $bright-blue;
  border-radius: 6px;
  padding: 10px 25px;
  transition: opacity 0.2s;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  &.big {
    font-size: 17spx;
    padding: 12px 30px;
    font-weight: 500;
  }
}