version: "3.9"
volumes:
  hash-graph-data:
    external: true
services:
  postgres:
    build: postgres:14-alpine
    deploy:
      restart_policy:
        condition: on-failure
    env_file:
      - ../.env
      - ../.env.local
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - hash-graph-data:/var/lib/postgresql/data
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./postgres/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    tmpfs:
      - /tmp
      - /run/postgresql
    command: -c 'config_file=/etc/postgresql/postgresql.conf'
    security_opt:
      - no-new-privileges:true
    read_only: true
