version: "3.9"

volumes:
  hash-postgres-test-data:

services:
  postgres:
    environment:
      HASH_KRATOS_PG_DATABASE: "${HASH_KRATOS_PG_TEST_DATABASE}"
      HASH_GRAPH_PG_DATABASE: "${HASH_GRAPH_PG_TEST_DATABASE}"
    volumes:
      - hash-postgres-test-data:/var/lib/postgresql/data
      # - ./postgres/postgresql-test.conf:/etc/postgresql/postgresql.conf:ro

  graph-migrate:
    environment:
      HASH_GRAPH_PG_MIGRATION_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${HASH_GRAPH_PG_TEST_DATABASE}"

  graph:
    environment:
      HASH_GRAPH_PG_DATABASE: "${HASH_GRAPH_PG_TEST_DATABASE}"

  kratos-migrate:
    environment:
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${HASH_KRATOS_PG_TEST_DATABASE}

  kratos:
    environment:
      - DSN=postgres://${HASH_KRATOS_PG_USER}:${HASH_KRATOS_PG_PASSWORD}@postgres:${POSTGRES_PORT}/${HASH_KRATOS_PG_TEST_DATABASE}
