extend = { path = "../Makefile.toml" }

[env]
CARGO_CLIPPY_HACK_FLAGS = "--workspace --feature-powerset --optional-deps clap"
CARGO_TEST_HACK_FLAGS = "--workspace --feature-powerset --optional-deps clap"
RUST_LOG = "debug,hyper=warn"

[env.production]
CARGO_MAKE_CARGO_PROFILE = "production"


[tasks.test]
run_task = [
    { name = ["test-task", "yarn", "deployment-up", "sleep-for-five-seconds", "migrate-up", "test-integration", "generate-openapi-client", "deployment-down"], condition = { env_true = ["CARGO_MAKE_CI" ] } },
    { name = ["test-task"] }
]

[tasks.test-integration]
private = false
extend = "task"
args = ["nextest", "run", "--cargo-profile", "${CARGO_MAKE_CARGO_PROFILE}", "@@split(CARGO_TEST_FLAGS, )", "--workspace", "--test", "integration", "--profile", "integration", "${@}"]
dependencies = ["install-cargo-nextest"]

# If this step fails, the OpenAPI spec is invalid.
# When running in CI, a non-empty git diff will fail the pipeline.
[tasks.generate-openapi-client]
script = """
#!/usr/bin/env bash

# Fail entire script if any error occurs.
set -eo pipefail

cargo build
cargo run&
pid=$!
# Ensure the webserver process is killed regardless of script outcome.
trap "kill $pid" 0 ERR

yarn workspace @hashintel/hash-graph-client-generator generate

# This switches the current working directory to the location of the generated client.
# `.` thus refers to the root of the client directory.
yarn workspace @hashintel/hash-graph-client prettier --write .
# The generator isn't idempotent, unfortunately. The interface members are not in a strict order.
# ESlint enforces ordering, which enables us to rely on the output diff as a CI check.
yarn workspace @hashintel/hash-graph-client fix:eslint
"""
