.options {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    width: 100%;
  }

  p {
    padding: 0 15px;
    max-width: 900px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
  }
}
