.options {
  width: 100%;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }

  p {
    padding: 0 15px;
    max-width: 900px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
  }
}

.usage-instructions {
  text-align: left;
  margin-top: 40px;

  h4 {
    margin-bottom: 10px;
  }

  ul {
    margin-top: 10px;

    li {
      margin-bottom: 10px;
    }
  }
}
