.wrapper {
  cursor: pointer;
  padding: 10px;
  gap: 10px;

  background: white;

  border: 1px solid #dde7f0;

  box-shadow: var(--shadow-1);
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;

  &.showHandCursor {
    cursor: grabbing;
  }

  button {
    font-size: 13px;
    position: absolute;
    right: 4px;
    top: 4px;
  }
}
