.wrapper {
  cursor: pointer;
  padding: 10px;
  gap: 10px;

  background: white;

  border: 1px solid #dde7f0;

  box-shadow: 0px 1px 5px rgba(27, 33, 40, 0.07);
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;

  &.showHandCursor {
    cursor: grabbing;
  }

  button {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}
