$fontFamily: Inter, Helvetica, Arial, sans-serif;
$colorGrayLight: #dde7f0;

.wrapper {
  width: 175px;
  padding: 8px 0;
  border-radius: 6px;
  box-shadow: 0px 0px 1px rgba(62, 65, 86, 0.7),
    0px 6px 12px rgba(62, 65, 86, 0.35);

  display: flex;
  flex-direction: column;

  background-color: white;
  font-size: 13px;
  font-weight: 600;
  font-family: $fontFamily;

  .danger {
    color: rgba(255, 40, 40, 0.8);
    &:hover {
      color: rgba(255, 40, 40, 1);
    }
  }

  > input {
    padding: 6px 8px;
    margin: 0 8px 6px;
    border: 1px solid $colorGrayLight;
    font-family: $fontFamily;
  }

  > button {
    font-weight: 600;
    background: none !important;
    border: none;
    display: flex;
    cursor: pointer;

    padding: 6px 8px;
    color: rgba(0, 0, 0, 0.7);
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.9);
    }
    transition: background-color 100ms;
  }
}
