extend = { path = "../../.github/scripts/rust/Makefile.toml" }

[tasks.migrate-up]
category = "Deploy"
description = "Runs all migrations"
extend = "docker"
args = ["compose", "--env-file", "${REPO_ROOT}/packages/graph/.env", "up", "migrate", "--no-recreate"]
cwd = "${REPO_ROOT}/packages/graph/deployment"

[tasks.deployment-up]
run_task = { name = ["docker-compose-deployment-up", "migrate-db"] }

[tasks.docker-compose-deployment-up]
private = false
category = "Deploy"
description = "Spins up the deployment environment"
extend = "docker"
args = ["compose", "--env-file", "../.env", "up", "--wait", "--build"]
cwd = "${REPO_ROOT}/packages/graph/deployment"

[tasks.migrate-db]
private = false
category = "Deploy"
extend = "run-task"
description = "Run DB migrations using the Graph binary"
cwd = "${REPO_ROOT}/packages/graph"
args = ["run", "--manifest-path", "./hash_graph/Cargo.toml", "--", "migrate"]

[tasks.deployment-down]
private = false
category = "Deploy"
description = "Tears down the deployment environment"
extend = "docker"
args = ["compose", "--env-file", "../.env", "down"]
cwd = "${REPO_ROOT}/packages/graph/deployment"

[tasks.build-docker]
category = "Deploy"
description = "Spins up the Graph API as external service"
extend = "yarn"
args = ["external-services", "build", "graph", "${@}"]
cwd = "${REPO_ROOT}"
env = { DOCKER_BUILDKIT = 1 }

[tasks.graph-up]
category = "Deploy"
description = "Spins up the Graph API as external service"
extend = "yarn"
args = ["external-services", "up", "--wait", "graph", "${@}"]
cwd = "${REPO_ROOT}"

[tasks.graph-down]
category = "Deploy"
description = "Tears down up the Graph API"
extend = "yarn"
args = ["external-services", "down", "${@}"]
cwd = "${REPO_ROOT}"

[tasks.test-docker]
run_task = { name = ["graph-up", "test-rest-api", "graph-down"] }

[tasks.test-rest-api]
# This is a temporary solution until we have e2e tests in place
extend = "yarn"
args = ["httpyac", "send", "--all", "${REPO_ROOT}/packages/graph/hash_graph/tests/rest-test.http", "${@}"]
