interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/employed-by/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/employed-by/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Employed By\",\n  \"type\": \"object\",\n
      \ \"allOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/entity-type/link/v/1\"\n
      \   }\n  ],\n  \"description\": \"Being paid to work for this entity.\",\n  \"examples\":
      [],\n  \"links\": {},\n  \"properties\": {},\n  \"required\": []\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::2lwbl-1696423623529-7a7a51dfb3f9
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/employed-by/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/employed-by/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Employed By\",\n  \"type\": \"object\",\n
      \ \"allOf\": [\n    {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/entity-type/link/v/1\"\n
      \   }\n  ],\n  \"description\": \"Being paid to work for this entity.\",\n  \"examples\":
      [],\n  \"links\": {},\n  \"properties\": {},\n  \"required\": []\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::tq68n-1696423623820-86e4a1df24af
    status_code: 200
version: 1
