.MainWrapper {
  display: flex;
  position: relative;
}

.MainContent {
  width: 80%;
  padding: 60px 120px;
  line-height: 140%;
  font-weight: 300;
  font-size: 17px;
  overflow-x: hidden;
  flex: 1;

  h1,
  h2 {
    margin-bottom: 30px;
    line-height: 150%;
    margin-top: 0;
  }
}

.PageHeader {
  display: flex;

  > :first-child {
    margin-right: 40px;
    flex: 1;
  }

  label {
    display: block;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}
