.PlaygroundWrapper {
  background: $grey-bg;
  color: $black-almost;
  width: 100%;
  padding: 20px;

  --font-family: sans-serif;
}

.PlaygroundError {
  color: red;
}

.PlaygroundSection {
  border: 1px solid $grey-border;
  border-radius: 8px;
  background: white;

  label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: $bright-blue;
  }

  textarea {
    width: 100%;
    height: 160px;
    font: inherit;
    font-weight: 400;
  }

  input,
  textarea {
    padding: 10px 12px;
    background: #fdf6e3;
    border: 1px solid $grey-bg;
    color: #657b83;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    &:hover,
    &:focus {
      background: white;
      outline: 2px solid rgba($bright-purple, 0.3);
    }

    &:focus {
      outline: 2px solid $bright-purple;
    }
  }
}

.UrlEntry {
  padding: 20px;
  margin-bottom: 20px;

  input {
    width: 300px;
  }

  label {
    color: $bright-purple;
  }
}

.BlockDisplay {
  display: flex;
  justify-content: space-between;
}

.BlockInterface,
.RenderedBlock {
  width: 50%;
  padding: 20px;
}

.BlockDataInput {
  margin-bottom: 30px;
}

.RenderedBlock {
  border-left: 1px solid $grey-border;

  label {
    color: $bright-pink;
  }
}

.JsonValidation {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;

  div:not(.ValidationError) {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  img {
    height: 12px;
    margin-left: 5px;
  }
}

.ValidationError {
  font-style: italic;
  display: block;
}
