  /*  */

  .countdown-block * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .countdown-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-6) 0;
  }

  .title-form {
    display: flex;
    border: 1px solid var(--border-color-dark);
    border-radius: 6px;
    padding: 10px 14px;
    margin-bottom: 16px;
    position: relative;
    width: min-content;
    transition: all 0.3s ease;
  }

  .title-form:hover {
    border: 1px solid var(--border-color-dark);
  }

  .title-form:focus-within {
    width: 360px;
    padding-right: 48px;
    outline: 1px solid blue;
  }

  .title-form:focus-within button {
    pointer-events: auto;
    visibility: visible;
  }


  .title-form textarea {
    flex: 1;
    border: none;
    width: 100%;
    min-width: 140px;

    font-size: 24px;
    line-height: 120%;

    color: #37434F; /* gray-90*/
    font-family: sans-serif;

    outline: none;
    resize: none;
  }

  .title-form textarea::placeholder {
    color: #91A5BA
  }


  .title-form button {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    background-color: var(--brand-primary-base);
    background-color: #0775E3; /*blue 70*/
    color: white;
    height: 33px;
    width: 33px;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }


.display-grid {
  border: 1px solid #DDE7F0; /* gray-30 */
  filter: drop-shadow(0px 4px 11px rgba(39, 50, 86, 0.04)) drop-shadow(0px 2.59259px 6.44213px rgba(39, 50, 86, 0.08)) drop-shadow(0px 0.5px 1px rgba(39, 50, 86, 0.15));
  margin-bottom: 12px;
  border-radius: 6px;
  display: flex;

}

.display-grid__item {
  min-height: 160px;
  min-width: 160px;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #DDE7F0;  /* gray-30 */

}

.display-grid__item:last-of-type {
  border-right: none;
}

.display-grid__item p:first-of-type {
  font-size: 64px;
  line-height: 1;  
  font-size: var(--font-size-xxl);
  letter-spacing: -2%;
  font-weight: 600;
  /* color: var(--neutral-900); */
  color: #37434F;  /* gray-90  */
  margin-bottom: var(--space-2);
}

.display-grid__item p:last-of-type {
  color: var(--neutral-700);
  color: #64778C;  /* gray-70  */
  text-transform: uppercase;
  font-size: 14px;
  /* line-height: 1.2; */
  font-weight: 500;
}