name: Canary Release
on: workflow_dispatch
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          vault_address: ${{ secrets.VAULT_ADDR }}

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: Publish changesets to npm, with 'canary' tags
        run: |
          yarn changeset version --snapshot canary

          git config user.email "support@hash.ai"
          git config user.name "hashdotai"
          git commit -am "temporarily convert changesets to canary releases"
          git revert `git rev-parse HEAD` --no-edit
          git push
          git checkout `git rev-parse HEAD~1`

          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF

          yarn changeset publish --tag canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
