name: Fix
on: workflow_dispatch
jobs:
  yarn:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - name: Install tools
        uses: ./.github/actions/install-tools

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: Fix
        run: yarn fix

      - name: Commit
        run: |
          git config user.name HASH
          git config user.email careers@hash.dev
          git add .
          git commit -m '`yarn fix`'
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
