name: Gitleaks

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  gitleaks:
    name: Scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Run Gitleaks
        uses: docker://zricethezav/gitleaks:v8.30.0
        with:
          args: detect --source /github/workspace --log-opts="${{ github.event.pull_request.base.sha || github.event.before }}..HEAD" --report-format sarif --report-path /github/workspace/results.sarif
        continue-on-error: true

      - name: Upload SARIF
        if: always() && github.event.pull_request.head.repo.full_name == github.repository
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
        with:
          sarif_file: results.sarif
