name: MDX Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      # Runs a single command using the runners shell
      - name: Lint for objectID
        run: cd .github/workflows/algolia && sh objectid_lint.sh
