on:
  workflow_dispatch:
    inputs:
      BLOCK_DIR_NAME_FILTER:
        default: .*
        description: Regex to filter block dir names
        required: false
      DEPLOYMENT_BASE_URL:
        description: Deployment Base URL
        required: true

name: Publish blocks to preview

jobs:
  pick-blocks:
    name: Pick blocks
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    outputs:
      block-dir-names: ${{ steps.list-block-dir-names.outputs.block-dir-names }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          vault_address: ${{ secrets.VAULT_ADDR }}

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: List block dir names
        id: list-block-dir-names
        run: |
          echo "block-dir-names=$(yarn --silent workspace @local/repo-chores run --silent exe scripts/list-blocks.ts)" | tee -a $GITHUB_OUTPUT
        env:
          OUTPUT_FORMAT: json
          BLOCK_DIR_NAME_FILTER: ${{ github.event.inputs.BLOCK_DIR_NAME_FILTER }}

  process:
    name: Publish
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    needs:
      - pick-blocks
    strategy:
      fail-fast: false
      matrix:
        block-dir-name: ${{ fromJSON(needs.pick-blocks.outputs.block-dir-names) }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          vault_address: ${{ secrets.VAULT_ADDR }}

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: Build block
        run: yarn build
        working-directory: blocks/${{ matrix.block-dir-name }}

      - name: Publish block
        run: npx blockprotocol@latest publish --yes
        working-directory: blocks/${{ matrix.block-dir-name }}
        env:
          BLOCK_PROTOCOL_API_KEY_HASH: ${{ secrets.BLOCK_PROTOCOL_API_KEY_HASH_PREVIEW }}
          BLOCK_PROTOCOL_SITE_HOST: ${{ github.event.inputs.DEPLOYMENT_BASE_URL }}
