on:
  workflow_dispatch:
    inputs:
      BLOCK_DIR_NAME_FILTER:
        default: .*
        description: Regex to filter block dir names
        required: false

name: Publish blocks to production

jobs:
  pick-blocks:
    name: Pick blocks
    runs-on: ubuntu-24.04
    outputs:
      block-dir-names: ${{ steps.list-block-dir-names.outputs.block-dir-names }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: List block dir names
        id: list-block-dir-names
        run: |
          echo "block-dir-names=$(yarn --silent workspace @local/repo-chores run --silent exe scripts/list-blocks.ts)" | tee -a $GITHUB_OUTPUT
        env:
          OUTPUT_FORMAT: json
          BLOCK_DIR_NAME_FILTER: ${{ github.event.inputs.BLOCK_DIR_NAME_FILTER }}

  process:
    name: Publish
    runs-on: ubuntu-24.04
    needs:
      - pick-blocks
    strategy:
      fail-fast: false
      matrix:
        block-dir-name: ${{ fromJSON(needs.pick-blocks.outputs.block-dir-names) }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build block
        run: yarn build
        working-directory: blocks/${{ matrix.block-dir-name }}

      - name: Publish block
        run: npx blockprotocol@latest publish --yes
        working-directory: blocks/${{ matrix.block-dir-name }}
        env:
          BLOCK_PROTOCOL_API_KEY_HASH: ${{ secrets.BLOCK_PROTOCOL_API_KEY_HASH_PRODUCTION }}
