## Using MACHINE_USER_TOKEN enables GitHub Workflows in ‘Version Packages’ PRs
## https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs

name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'hashintel/hash'

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - uses: ./.github/actions/warm-up-repo

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@c8bada60c408975afd1a20b3db81d6eee6789308 # v1.4.9
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Notify Slack on failure
        uses: rtCamp/action-slack-notify@c318f0a93a2bbf24828a21c271765cb9a5c92727
        if: ${{ failure() }}
        env:
          SLACK_LINK_NAMES: true
          SLACK_MESSAGE: "Error releasing NPM packages <@U0143NL4GMP>" # Notifies C
          SLACK_TITLE: Package release failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub
