## Using MACHINE_USER_TOKEN enables GitHub Workflows in ‘Version Packages’ PRs
## https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs

name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'hashintel/hash'

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@06245a4e0a36c064a573d4150030f5ec548e4fcc # v1.4.10
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Notify Slack on failure
        uses: rtCamp/action-slack-notify@07cbdbfd6c6190970778d8f98f11d073b2932aae
        if: ${{ failure() }}
        env:
          SLACK_LINK_NAMES: true
          SLACK_MESSAGE: "Error releasing NPM packages <@U0143NL4GMP>" # Notifies C
          SLACK_TITLE: Package release failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub
