## Using MACHINE_USER_TOKEN enables GitHub Workflows in ‘Version Packages’ PRs
## https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs

name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'hashintel/hash'
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.MACHINE_USER_TOKEN }}

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          vault_address: ${{ secrets.VAULT_ADDR }}

      - name: Warm up repository
        uses: ./.github/actions/warm-up-repo

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: yarn changeset publish
          version: yarn changeset version && yarn
        env:
          GITHUB_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Notify Slack on failure
        uses: rtCamp/action-slack-notify@07cbdbfd6c6190970778d8f98f11d073b2932aae
        if: ${{ failure() }}
        env:
          SLACK_LINK_NAMES: true
          SLACK_MESSAGE: "Error releasing NPM packages <!subteam^S09KH99698T>" # Notifies @devops
          SLACK_TITLE: Package release failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub
