name: Semgrep

on:
  # Scan changed files in PRs (diff-aware scanning):
  pull_request: {}

  # Scan mainline, next and `dev/*` trunks to report all findings:
  push:
    branches:
      - main
      - canary
      - dev/*

  schedule:
    - cron: "30 0 1,15 * *" # scheduled for 00:30 UTC on both the 1st and 15th of the month

jobs:
  semgrep:
    name: Scan

    # Change this in the event of future self-hosting of Action runner:
    runs-on: ubuntu-latest

    container:
      image: returntocorp/semgrep:1.75.0@sha256:550dfdac1ec5d4a757d1c2ac0197a6360ef3ac8e3d0a804731eab07242e91b4c

    # Skip any PR created by Dependabot to avoid permission issues:
    if: (github.actor != 'dependabot[bot]')

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        name: Check-out Git project source

      - name: Run Semgrep
        run: semgrep ci --sarif --output=semgrep.sarif || true
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

      - name: Check SARIF file exists following Semgrep run
        id: sarif_file_check
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "semgrep.sarif"

      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        uses: github/codeql-action/upload-sarif@f079b8493333aace61c81488f8bd40919487bd9f # v3.25.7
        if: steps.sarif_file_check.outputs.files_exists == 'true'
        with:
          sarif_file: semgrep.sarif
