name: Algolia Upload Index

env:
  ALGOLIA_PROJECT: ${{ secrets.ALGOLIA_PROJECT }}
  ALGOLIA_WRITE_KEY: ${{ secrets.ALGOLIA_WRITE_KEY }}

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn workspace @hashintel/hashai install --frozen-lockfile

      - name: Sync Algolia Index
        run: yarn workspace @hashintel/hashai exe scripts/sync-algolia-index.ts
