name: HASH Terraform Apply

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        options: ["prod"]
        description: "Environment to deploy"
        required: true
        default: "prod"

  push:
    branches:
      - main

env:
  VAULT_ADDR: ${{ secrets.VAULT_ADDR }}

jobs:
  matrix-eval:
    name: Prepare environments to be applied
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        env:
          DISPATCH_ENV: ${{ github.event.inputs.env }}
        run: |
          # Only apply the prod environment on merge to main or manual dispatch
          if [[ "$DISPATCH_ENV" == "prod" || "$GITHUB_REF_NAME" == "main" ]]; then
            echo "matrix=[\"prod\"]" >> $GITHUB_OUTPUT
          else
            echo "matrix=[]" >> $GITHUB_OUTPUT
          fi

  terraform:
    runs-on: ubuntu-latest
    # The following permissions are required for the Vault step used in the
    # Terraform composite action.
    permissions:
      id-token: write
      contents: read
    needs:
      - matrix-eval
    strategy:
      matrix:
        env: ${{ fromJson(needs.matrix-eval.outputs.matrix) }}
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.BASTION_SSH_KEY }}" > h-hash-prod-usea1-bastionkey.pem

      - uses: ./.github/actions/terraform-exec
        with:
          vault-address: ${{ env.VAULT_ADDR }}
          working-directory: infra/terraform/hash
          command: apply
          env: ${{ matrix.env }}

      - name: Notify Slack on failure
        uses: rtCamp/action-slack-notify@19c86e40d4bc3be986b18f1459d4549536887065
        if: ${{ failure() }}
        env:
          SLACK_LINK_NAMES: true
          SLACK_MESSAGE: "Error applying Terraform configuration <@U0143NL4GMP> <@U027NPY8Y3X> <@U02NLJY0FGX>"
          SLACK_TITLE: Terraform apply failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub
          VAULT_ADDR: ""
          VAULT_TOKEN: ""
