name: HASH Terraform Apply

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        options: ["prod"]
        description: "Environment to deploy"
        required: true
        default: "prod"

  push:
    branches:
      - main

env:
  VAULT_ADDR: ${{ secrets.VAULT_ADDR }}

jobs:
  matrix-eval:
    name: Prepare environments to be applied
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        env:
          DISPATCH_ENV: ${{ github.event.inputs.env }}
        run: |
          # Only apply the prod environment on merge to main or manual dispatch
          if [[ "$DISPATCH_ENV" == "prod" || "$GITHUB_REF_NAME" == "main" ]]; then
            echo "matrix=[\"prod\"]" >> $GITHUB_OUTPUT
          else
            echo "matrix=[]" >> $GITHUB_OUTPUT
          fi

  terraform:
    runs-on: ubuntu-latest
    # The following permissions are required for the Vault step used in the
    # Terraform composite action.
    permissions:
      id-token: write
      contents: read
    needs:
      - matrix-eval
    strategy:
      matrix:
        env: ${{ fromJson(needs.matrix-eval.outputs.matrix) }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.BASTION_SSH_KEY }}" > h-hash-prod-usea1-bastionkey.pem

      - uses: ./.github/actions/terraform-exec
        with:
          vault-address: ${{ env.VAULT_ADDR }}
          working-directory: infra/terraform/hash
          command: apply
          env: ${{ matrix.env }}
