interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/company/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/company/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Company\",\n  \"type\": \"object\",\n
      \ \"allOf\": [],\n  \"description\": \"An extremely simplified representation
      of a corporate organization.\",\n  \"examples\": [],\n  \"links\": {\n    \"https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1\":
      {\n      \"type\": \"array\",\n      \"minItems\": 0,\n      \"ordered\": false,\n
      \     \"items\": {\n        \"oneOf\": [\n          {\n            \"$ref\":
      \"https://blockprotocol.org/@examples/types/entity-type/person/v/1\"\n          }\n
      \       ]\n      }\n    }\n  },\n  \"properties\": {\n    \"https://blockprotocol.org/@blockprotocol/types/property-type/name/\":
      {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1\"\n
      \   }\n  },\n  \"required\": [\n    \"https://blockprotocol.org/@blockprotocol/types/property-type/name/\"\n
      \ ]\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::8ttd7-1696423622465-bf2358c3ec1e
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blockprotocol.org/@examples/types/entity-type/company/v/1
  response:
    content: "{\n  \"$schema\": \"https://blockprotocol.org/types/modules/graph/0.3/schema/entity-type\",\n
      \ \"$id\": \"https://blockprotocol.org/@examples/types/entity-type/company/v/1\",\n
      \ \"kind\": \"entityType\",\n  \"title\": \"Company\",\n  \"type\": \"object\",\n
      \ \"allOf\": [],\n  \"description\": \"An extremely simplified representation
      of a corporate organization.\",\n  \"examples\": [],\n  \"links\": {\n    \"https://blockprotocol.org/@examples/types/entity-type/founded-by/v/1\":
      {\n      \"type\": \"array\",\n      \"minItems\": 0,\n      \"ordered\": false,\n
      \     \"items\": {\n        \"oneOf\": [\n          {\n            \"$ref\":
      \"https://blockprotocol.org/@examples/types/entity-type/person/v/1\"\n          }\n
      \       ]\n      }\n    }\n  },\n  \"properties\": {\n    \"https://blockprotocol.org/@blockprotocol/types/property-type/name/\":
      {\n      \"$ref\": \"https://blockprotocol.org/@blockprotocol/types/property-type/name/v/1\"\n
      \   }\n  },\n  \"required\": [\n    \"https://blockprotocol.org/@blockprotocol/types/property-type/name/\"\n
      \ ]\n}"
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::b6bq9-1696423622726-4f92a2c86938
    status_code: 200
version: 1
