[env]
_.file = [".env", ".env.local"]

[tools]
# Basic tools
node        = { version = "22.17.1", postinstall = "corepack enable" }
"npm:turbo" = "2.5.5"

# Helper to install tools
cargo-binstall = "1.12.5"
uv             = "0.8.0"

# Tools to compile the project
'cargo:wasm-opt'  = "0.116.1"
"cargo:wasm-pack" = "0.13.1"
java              = "24"
protoc            = "31.1"

# CLI tools
biome                  = "1.9.5-nightly.ff02a0b"
"cargo:cargo-hack"     = "0.6.36"
"cargo:cargo-insta"    = "1.43.1"
"cargo:cargo-llvm-cov" = "0.6.16"
"cargo:cargo-nextest"  = "0.9.97"
"cargo:clorinde"       = "1.0.0"
just                   = "1.42.3"
markdownlint-cli2      = "0.18.1"
"npm:@napi-rs/cli"     = "3.0.0"
"npm:@redocly/cli"     = "1.34.4"
"npm:renovate"         = "41.38.2"
"pipx:sqlfluff"        = "3.4.2"
sentry-cli             = "2.46.0"
taplo                  = "0.10.0"
yq                     = "4.46.1"
